* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: blue;  
}
nav h1 { 
    font-size: 50px;
    font-family: sans-serif;
    color: black;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li {
    list-style: none;
}

nav h1 { 
    font-size: 60px;
    font-family: sans-serif;
    color: black;
}

nav img {
    width: 65px;
    height: 65px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

nav img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.boglanishlar {
    border-radius: 10px;
    border: 15px solid #f54900;    
    background: #f54900;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.boglanishlar:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

.hero{
    height: 600px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px 80px;
    background: white;
}

.left{
    width: 55%;
}

.left h1{
    font-size:60px;
    line-height:1.1;
    color:#0f172a;
}

.left h1 span{
    color:#ff4d00;
}

.left p{
    margin:25px 0;
    color:#475569;
    font-size:18px;
    line-height:1.6;
}

.buttons{
    display:flex;
    gap:15px;
    margin-bottom:30px;
}

.btn-orange{
    background:#ff4d00;
    color:white;
    padding:14px 22px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
}

.btn-white{
    background:white;
    color:#0f172a;
    padding:14px 22px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    border:1px solid #ddd;
}

.stats{
    display:flex;
    gap:60px;
    border-top:1px solid #e5e7eb;
    padding-top:25px;
}

.stats h3{
    color:#ff4d00;
    font-size:32px;
}

.stats span{
    color:#475569;
}

.right{
    width:40%;
}

.right img{
    width:100%;
    border-radius:20px;
}
